// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul {
  list-style-type: none;
  padding: 0px;
}


blockquote {
  padding: 20px;
  background: #F8F9FA;
  border-radius: 5px;
  border: 1px solid, black;
}
